body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 1.25rem;
    color: white;
    line-height: 1.5;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    line-height: 2;
    padding-bottom: 1rem;
    /* font-weight: bold; */
}

main {
    color: black;
}

main h2 {
    font-size: 2rem;
    line-height: 1.5;
    padding-bottom: 0.5rem;
}

main p {
    font-size: 0.8rem;
    padding-bottom: 1rem;
}

main h3 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

main ul {
    font-size: 0.8rem;
    list-style-type:disc;
    margin-left: 1rem;
    line-height: 1;
    padding-bottom: 1rem;
}

main h4 {
    font-size: 1.45rem;
    padding-bottom: 0.5rem;
}