
/* css reset code */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* My code begins here */

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

button {
    padding: 0;
    margin: 0;
    border: none;
}

/* clearfix always applied to the parent element containing float(s) */
/* add the clearfix class to the parent element containing a float, so that it clears the float for the sake of the rest of the page */
.clearfix::after {
    content: "";
    display: block;
    clear: left;
}

/* header section styling, including logo, nav links, and search bar/button */
header {
    background-color: #222;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

.top {
    background-color: #c78c06;
    color: #222;
    display: block;
    padding-bottom: 1em;
}

.logo {
    border-top: 20px solid #222;
    border-left: 20px solid #222;
    padding-right: calc(100% - 98px - 40px);
    padding-top: 20px;
}

nav {
   font-size: 2.5em;
}

nav ul li a{
    color: #c78c06;
    list-style-type: none;
    display: block;
    width: 100%;
    text-decoration: none;
    margin-bottom: 2em;
}

/* because this is the only way to select this specific item because nth child wont do it?????? */
.thisspecific1 {
    margin-bottom: 1em;
    margin-left: 20px;
    width: calc(100% - 40px);    
}

.thisspecific2 {
    margin-bottom: 1em;
}

.searchbar input {
    width: calc(100% - 20px - 80px - 30px);
    height: 2.5em;
    font-size: 2em;
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
}

.searchbar button {
    float: left;
    font-size: 3em;
    color: #c78c06;
    background-color: #222;
    border: 1px solid #c78c06;
    width: 80px;
    height: 85px;
    margin-right: 20px;
}

.wrapper2 {
    max-width: 1200px;
    margin: 0 auto;
}

/* styling for the home section, including the banner image and welcome message + button */
.home {
    position: relative;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.banner {
    width: 100%;
    min-height: auto;
    grid-column: 1/1;
    grid-row: 1/1;
}

.text-block1 {
    line-height: 1.4;
    background-color: rgba(0,0,0,0.6);
    color: white;
    grid-column: 1/1;
    grid-row: 1/1;
    margin-top: 8.5%;
    margin-bottom: 8.5%;
    /* padding-top: 6.5%;
    padding-bottom: 6.5%; */
    padding-left: 2%;
    /* position: absolute;
    bottom: 50%; */
}

.home h1 {
    font-size: 11vw;
    font-weight: bold;
}

.home p {
    font-size: 2.2vw;
    margin-bottom: 6vw;
}

.home .button {
    text-decoration: none;
    text-align: center;
    padding: 4vw;
    margin-top: 2%;
    font-size: 3vw;
    color: #222;
    background-color: #c78c06;
    border: none;
}

/* styling for the about section, including the about us image, the header, and the paragraph */
.about {
    background-color: #ffe6ac;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 1.5;
}

.about-us {
    padding-top: 2%;
    width: 100%;
}

.about h2 {
    font-size: 6.5vw;
    font-weight: bold;
    margin-top: 2%;
}

.about p {
    font-size: 2vw;
    margin-top: 2%;
}

/* our services styling, arranging each element to take up the whole width of the page and show up one after the other */
.our-services {
    background-color: white;
    width: 100%;
}

.our-services h2 {
    margin-left: 2%;
    margin-bottom: 2%;
    padding-top: 4%;
    font-size: 6.5vw;
    font-weight: bold;
}

.services {
    background-color: #ffe6ac;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    line-height: 1.5;
}

.services img {
    width: 100%;
}

.services h3 {
    font-size: 4vw;
    font-weight: bold;
    margin-top: 4%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.services p {
    font-size: 1.75vw;
    margin-left: 2%;
    margin-bottom: 2%;
}

.services button {
    font-size: 2.5vw;
    color: white;
    background-color: #222;
    border: none;
    margin-left: 2%;
    margin-bottom: 2%;
    width: 25vw;
    height: 10vw;
}

/* specific modifiers for the "our vision" area, cropping the image and placing the text on top of it */
.vision {
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-left: 0;
    margin-right: 0;
}

.vision-image {
    grid-column: 1/1;
    grid-row: 1/1;
    width: 100%;
    height: 35vw;
    object-fit: cover;
}

.text-block2 {
    grid-column: 1/1;
    grid-row: 1/1;
}

.text-block2 h3, .text-block2 p{
    color: white;
}

.text-block2 button {
    border: #c78c06 solid 1px;
}

.vision h3 {
    font-size: 4vw;
    font-weight: bold;
    margin-top: 4%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.vision p {
    font-size: 1.75vw;
    margin-left: 2%;
    margin-bottom: 2%;
}

.vision button {
    font-size: 2.5vw;
    color: white;
    background-color: #222;
    border: none;
    margin-left: 2%;
    margin-bottom: 2%;
    width: 25vw;
    height: 10vw;
}

/* styling for our team section, giving each team member photo and info the same amount of space */
.team {
    width: 100%;
    background-color: white;
}

.team h2 {
    font-size: 6.5vw;
    font-weight: bold;
    margin-left: 2%;
    margin-top: 4%;
}

.team-member {
    background-color: #ffe6ac;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    line-height: 1.5;
}

.team-member img {
    width: 100%;
}

.team-member h3 {
    font-size: 4vw;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 2%;
}

.team-member h4 {
    font-size: 1.75vw;
    font-weight: bold;
    margin-left: 2%;
}

.team-member p {
    border-top: #c78c06 solid 4px;
    padding-top: 2%;
    font-size: 1.75vw;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 2%;
}

/* styling for the contact section, including a form, hours of operation, and an embedded map */
.contact {
    width: 96%;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
}

.contact h2 {
    font-size: 6.5vw;
    font-weight: bold;
    margin-bottom: 4%;
}

.contact h3 {
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 2%;
}

.contact h4 {
    font-size: 1.75vw;
    margin-bottom: 0.75%;
    margin-top: 1%;
}

.contact input {
    width: 100%;
    height: 3vw;
    border: #222 solid 2px;
    font-size: 1.75vw;
}

.bigbox textarea {
    resize: none;
    height: 15vw;
    width: 100%;
    border: #222 solid 2px;
    font-size: 1.75vw;
}

.contact button {
    margin-top: 2%;
    width: 7vw;
    height: 4vw;
    color: #c78c06;
    background-color: #222;
    border: none;
    font-size: 2.5vw;
    margin-bottom: 3%;
}

.hours table, .hours th, .hours td {   
    border: black 2px solid
}

.hours table {
    width: 100%;
    margin-bottom: 3%;
}

.hours th, .hours td {
    height: 5vw;
    vertical-align: middle;
    font-size: 1.75vw;
}

.hours th {
    background-color: #ffe6ac;
}

.hours td {
    background-color: white;
    padding-left: 2%;
    /* padding-top: 2%; */
}

.location iframe {
    width: 100%;
}

/* styling for the footer */
footer {
    background-color: #222;
    color: #c78c06;
    line-height: 3;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    font-size: 1.75vw;
}

/* a series of changes to the styling at 760 width and up */
@media screen and (min-width: 760px) {
    
    /* changes to the nav bar at the top of the page */
    header {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    .top {
        background-color: #c78c06;
        color: #222;
        display: inline;
        padding-bottom: 0;
        width: auto;
    }
    
    .logo {
        border-top: none;
        border-left: none;
        padding-right: 0%;
        padding-top: 0;
        margin-left: 10%;
        float: left;
        width: 50px;
    }

    nav ul li a{
        float: left;
        color: #c78c06;
        width: auto;
        text-decoration: none;
        font-size: 0.25em;
        margin-top: 5px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px; 
    }

    .thisspecific1 {
        margin: 0;
        margin-left: 50px;
        margin-top: 5px;
        padding-bottom: 10px;
    }
    
    .searchbar input {
        margin: 0;
        width: 100px;
        height: 15px;
        font-size: 0.25em;
        float: left;
        margin-top: 7.5px;
    }
    
    .searchbar button {
        font-size: 0.5em;
        color: #c78c06;
        background-color: #222;
        border: 1px solid #c78c06;
        width: 20px;
        height: 20px;
        float: left;
        margin-top: 7.5px;
    }

    /* changes to the home area */
    .home {
        position: relative;
        text-align: left;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    
    .banner {
        width: 100%;
        height: 300px;
        grid-column: 1/1;
        grid-row: 1/1;
    }
    
    .text-block1 {
        line-height: 1.4;
        background-color: rgba(0,0,0,0.6);
        color: white;
        grid-column: 1/1;
        grid-row: 1/1;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 10%;
        margin-right: 10%;
        /* padding-top: 6.5%;
        padding-bottom: 6.5%; */
        padding-left: 10px;
        /* position: absolute;
        bottom: 50%; */
    }
    
    .home h1 {
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 25px;
    }
    
    .home p {
        font-size: 0.5em;
        margin-bottom: 20px;
    }
    
    .home .button {
        padding: 20px;
        font-size: 0.75em;
        color: #222;
        background-color: #c78c06;
    }

    /* next comes the about section. make it a flexbox*/
    /* styling for the about section at this screen size */
    .about {
        background-color: #ffe6ac;
        padding-left: 10%;
        padding-right: 10%;
        line-height: 1.5;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
    }
    
    .about-us {
        padding-top: 0;
        width: 50%;
    }

    .about-us-content {
        margin-left: 10px;
    }
    
    .about h2 {
        font-size: 1.75em;
        font-weight: bold;
        margin-top: 0;
    }
    
    .about p {
        font-size: 0.55em;
        margin-top: 0;
        margin-bottom: 10px;
    }

    /* our services area styling for 760px. arrange the five sections into 2 rows, 1st has 2 sections 2nd has 3, evenly divided. once again our vision has its own area and rules */
    .our-services {
        background-color: white;
        width: auto;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 30px;
    }
    
    .our-services h2 {
        margin-left: 10px;
        margin-bottom: 10px;
        padding-top: 0;
        font-size: 2em;
        font-weight: bold;
    }
    
    .services {
        background-color: #ffe6ac;
        margin: 0;
        line-height: 1.5;
    }
    
    .services img {
        width: 100%;
    }
    
    .servrow1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        margin-bottom: 10px;
    }

    .digital {
        grid-column: 1/2;
        grid-row: 1/1;
        margin-right: 5px;
    }

    .marketing {
        grid-column: 2/2;
        grid-row: 1/1;
        margin-left: 5px;
    }

    .servrow1 h3 {
        font-size: 1em;
    }

    .servrow1 p {
        font-size: 0.5em;

    }

    .servrow1 button {
        font-size: 0.75em;
        width: 96%;
        height: 50px;
        margin-right: 2%;
    }

    .servrow2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        margin-bottom: 10px;
    }

    .video {
        grid-column: 1/2;
        grid-row: 1/1;
        margin-right: 6px;
    }

    .web {
        grid-column: 2/3;
        grid-row: 1/1;
        margin-right: 3px;
        margin-left: 3px;
    }

    .print {
        grid-column: 3/3;
        grid-row: 1/1;
        margin-left: 6px;
    }

    .servrow2 h3 {
        font-size: 1em;
    }

    .servrow2 p {
        font-size: 0.5em;

    }

    .servrow2 button {
        font-size: 0.75em;
        width: 96%;
        height: 50px;
        margin-right: 2%;
    }
    
    /* specific modifiers for the "our vision" area, cropping the image and placing the text on top of it */
    .vision {
        background-color: white;
        margin-bottom: 10px;
        line-height: 1.5;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-left: 0;
        margin-right: 0;
    }
    
    .vision-image {
        grid-column: 1/1;
        grid-row: 1/1;
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    
    .text-block2 {
        grid-column: 1/1;
        grid-row: 1/1;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .text-block2 h3, .text-block2 p{
        color: white;
    }
    
    .text-block2 button {
        border: #c78c06 solid 1px;
    }
    
    .vision h3 {
        font-size: 1em;
        font-weight: bold;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    .vision p {
        font-size: 0.5em;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    .vision button {
        font-size: 0.75em;
        color: white;
        background-color: #222;
        border: none;
        margin-left: 10px;
        margin-bottom: 0;
        width: 125px;
        height: 50px;
    }

    /* styling for the team section at 760px, arranging them in a grid with the first picture on the left row first column and the second picture on the right row second column  */
    .team {
        padding-left: 10%;
        padding-right: 10%;
        width: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .team h2 {
        font-size: 2em;
        font-weight: bold;
        margin-left: 10px;
        margin-top: 0;
    }
    
    .team-member {
        background-color: #ffe6ac;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0;
        line-height: 1.5;
    }
    
    .team-member img {
        width: 100%;
    }
    
    .team-member h3 {
        font-size: 1.25em;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .team-member h4 {
        font-size: 0.75em;
        font-weight: bold;
        margin-left: 10px;
    }
    
    .team-member p {
        border-top: #c78c06 solid 4px;
        padding-top: 10px;
        font-size: 0.5em;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 0;
    }

    .john {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
    }

    .john img {
        grid-row: 1/1;
        grid-column: 1/2;
    }

    .john text-blockjohn {
        grid-row: 1/1;
        grid-column: 2/2;
    }

    .bob {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
    }

    .bob img {
        grid-row: 1/1;
        grid-column: 2/2;
    }

    .bob text-blockbob {
        grid-row: 1/1;
        grid-column: 1/2;
    }

    /* styling for the contact section at 760px, making it into a grid of 2 rows and 2 columns*/
    .contact {
        padding-left: 10%;
        padding-right: 10%;
        width: auto;
        margin: 0;
    }
    
    .contact h2 {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .contactgrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .send-message {
        grid-row: 1/2;
        grid-column: 1/2;
        margin-right: 20px;
    }

    .location {
        grid-row: 1/2;
        grid-column: 2/2;
    }

    .hours {
        grid-row: 2/2;
        grid-column: 1/3;

        margin-top: 40px;
    }

    .contact h3 {
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .contact h4 {
        font-size: 0.75em;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    .contact input {
        width: 100%;
        height: 2em;
        border: #222 solid 2px;
        font-size: 0.5em;
    }
    
    .bigbox textarea {
        resize: none;
        height: 10em;
        width: 100%;
        border: #222 solid 2px;
        font-size: 0.5em;
    }
    
    .contact button {
        margin-top: 10px;
        width: 50px;
        height: 25px;
        color: #c78c06;
        background-color: #222;
        border: none;
        font-size: 0.75em;
        margin-bottom: 0;
    }
    
    .hours table, .hours th, .hours td {   
        border: black 2px solid
    }
    
    .hours table {
        width: 100%;
        margin-bottom: 0;
    }
    
    .hours th, .hours td {
        height: 30px;
        vertical-align: middle;
        font-size: 0.5em;
    }
    
    .hours th {
        background-color: #ffe6ac;
    }
    
    .hours td {
        background-color: white;
        padding-left: 10px;
        /* padding-top: 2%; */
    }
    
    .location iframe {
        width: 100%;
        height: 100%;
    }

    /* styling for footer at 760px */
    footer {
        line-height: 3;
        padding-top: 10px;
        padding-left: 10%;
        padding-bottom: 10px;
        font-size: 0.5em;
    }
}